.big-card {
  width: 600px;
  transition: transform 0.1s ease;
  cursor: pointer;
}

.big-card:hover {
  transform: scale(1.01);
}

.big-card > a {
  text-decoration: none;
}

.big-card > a > img {
  width: 95%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 4px;
}

.big-card > a > h1 {
  width: 95%;
  margin-top: 0.6rem;
  font-size: 1.6rem;
  color: white;
}

.big-card > a > p {
  margin-top: 0.6rem;
  width: 85%;
  color: gray;
}
