<div class="big-card">
    <img src="https://noticiasdatv.uol.com.br/media/_versions/artigos_2021/marvel-doutor-estranho-multiverso-loucura-thor-amor-trovao-benedict-cumberbatch-stephen-strange-chris-hemsworth-thor-diculgacao-marvel-20-12-22_fixed_large.jpg"
        alt="">
    <h1>De Multiverso a X-Men: Como 2022 alterou o Universo Cinematográfico Marvel?</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum earum nostrum cupiditate odit fugit nobis dolorem
        deserunt suscipit corporis consectetur, excepturi dignissimos minus error quis quasi deleniti vitae dicta
        laudantium?</p>
</div>