.smalls-cards {
  display: flex;
  flex-direction: row;
  border-bottom: 0.5px solid gray;
  width: 900px;
  height: 180px;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1.6rem;
  margin-top: 0.3rem;
}

.smalls-cards > div > img {
  width: 280px;
  height: 160px;
  margin-right: 1rem;
}

.content-small-cards {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}

.content-small-cards > p {
  color: gray;
  font-size: 0.8rem;
}
