<div>
    <app-menu-title bigTitle="CONTEUDOS"></app-menu-title>
</div>
<div>
    <app-primary-content
        contentImg="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJzRGkvN9WVysP2_3AbXtdgTegy9mEELt2yFirxQymBg&s"
        contentTitle="TITULO TESTE PARA A POAGINA DE CONTEUDO"
        content=" Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi amet facere, architecto dolorem ipsam quasi
        cupiditate libero rem fugiat nihil rerum nisi molestias voluptatem fugit sed dicta iusto reprehenderit aperiam?">
    </app-primary-content>
</div>