<header>
    <app-menu-bar></app-menu-bar>
    <app-menu-title></app-menu-title>
</header>
<main>
    <div class="section-cards">
        <div class="big-carg">
            <app-big-card
                photoCover="https://noticiasdatv.uol.com.br/media/_versions/artigos_2021/marvel-doutor-estranho-multiverso-loucura-thor-amor-trovao-benedict-cumberbatch-stephen-strange-chris-hemsworth-thor-diculgacao-marvel-20-12-22_fixed_large.jpg"
                cardTitle="De Multiverso a X-Men: Como 2022 alterou o Universo Cinematográfico Marvel?"
                cardDescription="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit rerum ea nihil laborum voluptates, expedita mollitia veniam quod obcaecati praesentium dicta ad asperiores illum enim incidunt quas eligendi iure! Repudiandae."></app-big-card>
        </div>
        <div class="smalls-cards">
            <app-smalls-cards></app-smalls-cards>
            <app-smalls-cards></app-smalls-cards>
            <app-smalls-cards></app-smalls-cards>
        </div>
    </div>
</main>