.page-home {
  display: flex;
  flex-direction: column;
}

.section-cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.smalls-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
